@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    background: #1d4ed8;
}

.list-checked {
    max-height: 100%;
    transition: max-height 0.25s ease-in;
}

.burger-btn {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
}

.burger-btn:before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    background-color: white;
    height: 2px;
}

.burger-btn span {
    position: absolute;
    top: 9px;
    width: 20px;
    background-color: white;
    height: 2px;
}

.burger-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    background-color: white;
    height: 2px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #365099;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #a0b8ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5e78c6;
}
