.auth-menu {
    padding-top: 5rem;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translatex(-130%);
    transition: all 0.2s;
    z-index: 10;
}

.auth-menu.active {
    transform: translateX(0);
}

.auth-menu__content {
    margin-top: -4.9rem;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #1e3a8a;
    transition: all 0.4s;
}

@media screen and (max-width: 768px) {
    .auth-menu__content {
        width: 100%;
    }
}

.line {
    height: 10px;
    position: relative;
    display: block;
    width: 10px;
    background: white;
    border-top: 10px;
    border-bottom: 10px;

    color: white;
}

textarea:focus, input:focus{
    outline: none;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

*:focus {
    outline: none;
}
