.auth-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translatex(-130%);
    transition: all 0.6s;
}

.auth-menu.active {
    transform: translateX(0);
}

.blur {
    width: 100vw;
    height: 100vh;
    left: 30%;
    backdrop-filter: blur(2px);
    position: absolute;
}

.auth-menu__content {
    margin-top: -4.9rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #2b2b2b;
    font-family: "Ubuntu Thin", serif;
    transition: all 0.8s;
}

@media screen and (max-width: 768px) {
    .auth-menu__content {
        width: 100%;
    }
    .blur {
        backdrop-filter: none;
    }
}

.line {
    height: 10px;
    position: relative;
    display: block;
    width: 10px;
    background: white;
    border-top: 10px;
    border-bottom: 10px;

    color: white;
}

textarea:focus, input:focus{
    outline: none;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

*:focus {
    outline: none;
}
