.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateY(-127%);
    transition: all 0.6s;
}

.menu.active {
    transform: translateX(0);
}

.blur {
    width: 100vw;
    height: 100vh;
    left: 30%;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menu__content {
    padding-top: 19px;
    width: 30%;
    height: 100%;
    background-color: black;
    transition: all 0.8s;
}

.menu__left {
    padding: 70px 0 0 25px;
    font-size: 1.3rem;
    color: white;
    font-family: "Ubuntu Thin", serif;
    background: #181818;
}

.menu__right {
    padding: 70px 0 0 25px;
    font-size: 1.3rem;
    color: white;
    background: #212121;
}

.menu__right ul {
    border-bottom: 0.1rem solid;
    width: 95%;
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .menu__content {
        width: 100%;
    }
    .blur {
        backdrop-filter: none;
    }
}
